{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>
            {% block title %}
                My Site
            {% endblock title %}
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="Welcome to the JeepMap home page.">
        <meta name="keywords" content="JeepMap, home, user, dashboard">
        <link rel="icon" type="image/png" href="{% static 'images/favicon.svg' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
              rel="stylesheet">
        <link href="{% static 'dist/styles.css' %}" rel="stylesheet" />
        {% tailwind_css %}
    </head>
    <body class="bg-white font-montserrat leading-normal tracking-normal">
        <div class="flex min-h-screen">
            <!-- Sidebar -->
            {% include "partials/sidebar.html" %}
            <!-- Main Content -->
            <div class="flex-1 ml-0 md:ml-64 flex flex-col transition-all duration-300 "
                 :class="{'md:ml-64': window.innerWidth >= 768, 'ml-0': window.innerWidth < 768}">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
